.header-wrap{
	width: 100%;
	height: 35px;
	background: #FFC9A9;
}
.header{
	width: 1200px;
	height: 35px;
	margin: 0 auto;
}
.header-l{
	float: left;
}
.header-l li{
	float: left;
}
.header-l li a{
	display: block;
	height: 35px;
	line-height: 35px;
	padding: 0 5px;
}


.main{
	width: 1200px;
	height: 800px;
	margin: 0 auto;
}
.main .ulList{
   width: 786px;
   position: absolute;
   left: 50%;
   margin-left: -393px;
   margin-top: 20px;
}
.main .ulList li{
	float: left;
	width: 260px;
	height: 200px;
    text-align: center;
}
.main .ulList li a{
	display: block;
	width: 90px;
	margin: 0 auto;
}
.ulList li img{
	display: block;
	height: 90px;
    width: 90px;
    margin: 40px auto 0;
}
.ulList li h2{
	font-size: 18px;
	display: none;
}







